name: Renovate

on:
  schedule:
    - cron: '*/15 * * * *'

jobs:
  renovate:
    name: Run Renovate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.0
      - name: Renovate
        uses: renovatebot/github-action@v32.0.1
        with:
          configurationFile: .github/renovate-config.js
          token: ${{ secrets.RENOVATE_TOKEN }}
